{% extends 'home/home.html.twig' %}

{% block body %}

<div class="page-form login">

    <div class="container">

        <h2>Hello!</h2>

        <p>Log in and enjoy my website!</p>

        <form action="{{ path("app_user_login") }}" method="post">

            {{ form_widget(form) }}

            <input type="submit" class="button" value="Login" /><br>

        </form>

        <p> More options </p>
        <a href="{{ path('app_user_register') }}">Registration </a> <a href="{{ path('app_home_home') }}">Main page</a>
    </div>

</div>


{% endblock %}
